

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* - - - */


body {
  background-color: #F9F9F9; /*#333333;
  color: whitesmoke;*/
}

.contenu {
  padding-top: 60px;
}

.background-color-general {
  background-color: #393E41;
  color: whitesmoke;
}

.green {
  background-color: #05E339;
}
.raspberry {
  background-color: #E30549;
}
.blue {
  background-color: #69A6D5;
}

.title {
  font-weight: 300;
}


/* - - - general form - - - */
.generalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.generalForm .generalFormGroup {
  display: flex;
  min-width: 40vh;
}

.generalFormLabel {
  margin: .4em;
  font-weight: 300;
  color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
}

.generalFormControl {
  width: 60vw;
  padding: .4em 0;
  padding-right: 4em;
  margin-top: .2em;
  border: 1px solid #DCDCDC;
  background-color: #DCDCDC;
}